[submodule "_theme_packages/the-minimum"]
	path = _theme_packages/the-minimum
	url = https://github.com/jekyllbootstrap/theme-the-minimum.git
[submodule "_theme_packages/reveal"]
	path = _theme_packages/reveal
	url = https://github.com/kjarnet/jb-theme-reveal.git
