<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - 
      {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/reveal.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="{{ ASSET_PATH }}/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    
    <!-- fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">

      {{ content }}

    </div>

    <script src="{{ ASSET_PATH }}/lib/js/head.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/reveal.min.js"></script>

    <script>

        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            slideNumber: true,
            theme: Reveal.getQueryHash().theme || 'moon', // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'cube', // default/cube/page/concave/zoom/linear/fade/none

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: '{{ ASSET_PATH }}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                { src: '{{ ASSET_PATH }}/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: '{{ ASSET_PATH }}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: '{{ ASSET_PATH }}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                { src: '{{ ASSET_PATH }}/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                { src: '{{ ASSET_PATH }}/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                // { src: '{{ ASSET_PATH }}/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                // { src: '{{ ASSET_PATH }}/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
            ]
        });

    </script>
    {% include JB/analytics %}
  </body>
</html>
